@import "tailwindcss";

html {
    font-size: 62.5%; /* 62.5% of 16px = 10px */

}


*{
    font-family: "Baloo Bhai 2", sans-serif;

}



.my-button {
  background-color: #bfdbfe;       /* bg-blue-200 */
  border: 1px solid #93c5fd;       /* border border-blue-300 */
  border-radius: 20px;             /* rounded-4xl → 2rem = 20px */
  cursor: pointer;                 /* cursor-pointer */
  transition: all 0.3s ease;       /* transition-all */
  padding-block: 0.2rem;
}

.my-button:hover {
  background-color: #a9ccf7;

}


